{% extends 'base.html' %}
{% block title %}Delete Blog Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}

<h1>Delete Post</h1>
<br/>
<h3>Delete:{{post.title}}</h3>

<div class="mb-3">
<form method="POST">
    {% csrf_token %}

    <p>Are you sure??</p>
    <button class="btn btn-secondary" >Delte Post</button>

</form>
</div>
{% else %}
<p>Please <a href="{% url 'login' %}">login</a></p>
<hr>
<p>or please <a href="{% url 'register' %}">register</a></p>

{% endif %}
{% endblock %}